---
import BaseHead from '@/components/BaseHead.astro';
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';
import { SITE } from '@/consts';
import BodyWrapper from '@/components/BodyWrapper.astro';
import ArticleList from '@/components/ArticleList.astro';
import Author from '@/components/Author.astro';
import Card from '@/components/Card.astro';
import CardTitle from '@/components/CardTitle.astro';

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE.title} image={SITE.logo} description={SITE.description} />
	</head>
	<body>
		<Header />
		<BodyWrapper class="flex gap-20 lt-sm:flex-col lt-sm:gap-12">
      <aside class="w-280 flex flex-col gap-12 lt-sm:w-auto">
        <Author />
        <Card class="shadow">
          <CardTitle>统计数据</CardTitle>
          <p class="pt-12 font-size-12">已被<span class="color-green-700 pl-2 pr-2" id="busuanzi_value_site_uv"></span>人访问了<span class="color-green-700 pl-2 pr-2" id="busuanzi_value_site_pv"></span>次</p>
        </Card>
        <Card class="shadow">
          <CardTitle>关于本站</CardTitle>
          <p class="pt-12 font-size-12">本站是一个基于 Astro 的纯静态博客，使用 Github Actions + Github Pages / Nginx 部署。</p>
          <p class="pt-4 font-size-12">站点统计使用<strong>大名鼎鼎</strong>的<a class="color-blue-600" href="http://ibruce.info/2015/04/04/busuanzi/" target="_blank">不蒜子</a>，文章评论使用<strong>小有名气</strong>的<a class="color-blue-600" href="https://giscus.app/" target="_blank">giscus</a>。</p>
        </Card>
      </aside>
			<section class="flex-1">
        <ArticleList />
			</section>
		</BodyWrapper>
		<Footer />
	</body>
</html>
