---
const today = new Date();
---

<footer class="w-full bg-white c-gray-600 text-center font-size-12 p-12 gap-10">
  <p>
    &copy;2024-{today.getFullYear()} All rights reserved. <a href="//yunsin.top" target="_top" class="hover-c-blue-300">原心</a>
  </p>
  <p id="beian_info" class="flex w-fit m-auto hover-c-blue-300">
    <a class="ml-10" href="https://beian.miit.gov.cn/" target="_blank">蜀ICP备2022007430号-2</a>
  </p>
</footer>