---
import Avatar from './Avatar.astro';
import { SITE } from '@/consts';
import PageFindSearch from "./PageFindSearch.astro";
import NavLink from './NavLink.astro';

---

<header id="page-header" class="w-full top-0 shadow">
  <nav class="pl-40 pr-40 lt-md:pl-8 lt-md:pr-8 h-60 bg-white position-relative flex gap-8 items-center">
    <Avatar src={SITE.logo} class="w-40 h-40 b-rd-8"/>
    <div onclick="location.href='/'" class="font-size-22 font-weight-600 w-mc m-0 p-0 cursor-pointer hover-color-blue-500 lt-md:hidden" style="font-family: MyTitle;">{SITE.title}</div>
    <NavLink href="/" class="ml-auto">首页</NavLink>
    <NavLink href="/experiment">小实验</NavLink>
    <div class="w-mc">
      <PageFindSearch />
    </div>
  </nav>
</header>
<script data-astro-rerun>
  window.addEventListener('scroll', (event) => {
    const pageHeader = document.getElementById('page-header');
    if(document.documentElement.scrollTop > 0) {
      pageHeader?.classList.add('sticky-top');
    } else {
      pageHeader?.classList.remove('sticky-top');
    }
  });
</script>
