---
import Avatar from './Avatar.astro';
import OutsideLink from './OutsideLink.astro';
import { Icon } from 'astro-icon/components';
// import SearchArea from './SearchArea.astro';
import { SITE_TITLE, SITE_DESCRIPTION, GITHUB_LINK } from '@/consts';
import PageFindSearch from "./PageFindSearch.astro";


type Props = {
  sticky?: boolean;
};

const { sticky = true } = Astro.props;
---

<header id="page-header" class={`w-full lg:w-1024 m-auto${sticky ? ' top--320 lt-md:top--440' : ''}`}>
	<div class="w-full h-400 mt--160 lg:w-1024 m-auto overflow-clip" style="background-image: url(/site-images/top-banner.jpeg); background-position: 50% 50%;"></div>
  <nav class="pl-40 pr-40 lt-md:pr-34 h-84 bg-white position-relative">
    <Avatar class="mt--80 position-absolute lt-md:hidden"/>
    <nav class="pl-200 lt-md:pl-0 pt-12 pb-12 w-full flex flex-col">
      <header class="w-full sm:flex gap-12 flex-items-center">
        <div onclick="location.href='/'" class="font-size-22 font-weight-600 w-mc m-0 p-0 cursor-pointer hover-color-blue">{SITE_TITLE}</div>
        <div class="font-size-14 font-weight-600 flex-1 lt-sm:hidden">{SITE_DESCRIPTION}</div>
      </header>
      <div class="flex-1 flex center justify-between">
        <PageFindSearch />
        <OutsideLink href={GITHUB_LINK} title="跳转到Github">
          <Icon name="mdi:github" size={24} />
        </OutsideLink>
      </div>
    </nav>
  </nav>
</header>
<script>
  window.addEventListener('scroll', (event) => {
    const pageHeader = document.getElementById('page-header');
    if(document.documentElement.scrollTop >= 160) {
      pageHeader?.classList.add('sticky-top');
    } else {
      pageHeader?.classList.remove('sticky-top');
    }
  });
</script>
