---
interface Props {
  'class'?: string;
  href: string;
}

const className = Astro.props[`class`] || '';
const { href } = Astro.props;
const path = Astro.url.pathname;
---

<a href={href} class={`nav-link text-6xl pt-4 pb-6 mr-16 ${className} ${path === href ? 'nav-link-active' : ''}`} data-astro-prefetch>
  <slot></slot>
</a>
<style lang="less">
  .nav-link {
    text-decoration: none;
    &-active, &:hover {
      color: #3b82f6;
    }
    &-active {
      border-bottom: 2px solid #3b82f6;
    }
  }
</style>