---
import HoverPopup from './HoverPopup.astro';

type Props = {
  href: string;
  title: string;
  style?: string;
}

const { href, title, style } = Astro.props;
---
<a style={style || ''} href={href} target="_blank">
  <HoverPopup>
    <slot></slot>
    <div slot="content" class="w-max text-3xl">{title}</div>
  </HoverPopup>
</a>