---

---
<div class="w-full h-full bg-white flex gap-12 items-center">
  <label for="search" class="flex-2 h-full">
    <input name="search" type="search" placeholder="请输入搜索内容" class="h-full w-full border-rounded-4 border-1 border-color-sky-300 outline-none p-4 pl-12 font-size-14" />
  </label>
  <button id="search" class="w-mc font-size-14 border-rounded-4 border-1 border-color-sky-300 line-height-loose pt-4 pl-20 pr-20 hover-color-sky-500">搜索</button>
  <div class="flex-1 text-right">
    <slot></slot>
  </div>
</div>

